.ProductPreview {
  width: 100%;
  position: relative;
}

.ProductPreview > img {
  width: 100%;
}

.TimeSection {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: 600px;
}

.HeartBeatSection {
  position: absolute;
  top: 52%;
  left: 49%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: 600px;
}

.HeartBeatSection > p {
  margin-top: 11px;
}

.HeartBeatSection > i {
  color: red;
  animation: beat 1s infinite;
}

@keyframes beat {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}
